Bienvenue sur la page accueil
<p>
	Faire une fonction gotopage pour passer d'une page à l'autre et passer des datas
	<br/> Quand une page fini de s'afficher, il faut qu'un evenement soit trigger
	<br/> le callback cherche dans le DOM les éléments ayant un data-template et rend les vues correspondantes
</p>

<section data-template="Auteur-add"></section>

<section data-template="Auteur-list"></section> 