Bienvenue sur la page accueil
<p>
	Faire une fonction gotopage pour passer d'une page à l'autre et passer des datas (utiliser navigate de Router backbone)
</p>

<p>
	Il faut que la l'on puisse passer à View un template en parametre pour que :
	<br/> La detailview est une editView dont le template ne possède pas le bouton de validation et les champs
	<br/> On puisse avoir un widget listview qui affiche les 3 dernier elements et dont l'affichage est différent de la listview normale
</p>

<p>
	il faut que le goToPage prenne des params et que tous les traitement pour les datas se fasse dans la initPage
	<br/> dans le controller
</p>

<p>
	Il faut une fonction afterRender pour les jquery par exemple ...
</p>

<section data-template="Auteur-add"></section>

<section data-template="Auteur-list"></section>

<section data-template="Auteur-edit"></section>

<section data-template="Auteur-search"></section>