<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<section data-section="header"></section>
	<section data-section="nav"></section>
	<section data-section="body"></section>
	<section data-section="footer"></section>
	
</body>
</html>

